{% extends 'base/layout.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-header"><a href="{% url 'home' %}" class="btn btn-warning"> &#8592 Back to portfolio</a></h5>
            <div class="card-body">
                <h5 class="card-title">Aditional formation in Statistic, Cell Biology, etc</h5>
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">COURSE NAME</th>
                        <th scope="col">YEAR</th>
                        <th scope="col">INSTITUTION</th>
                        <th scope="col">TEMATIC</th>
                        
                        
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Programed cell death in plants</th>
                            <td>2017</td>
                            <td>FCEyN-UBA</td>
                            <td>Cell biology</td>
                            
                        </tr>

                        <tr>
                            <th scope="row">Molecular genetics of plant development</th>
                            <td>2017</td>
                            <td>FCEFyN-UNC</td>
                            <td>Cell biology</td>
                            
                        </tr>


                      <tr>
                        <th scope="row">Plant physiology under abiotic stresses</th>
                        <td>2017</td>
                        <td>FCAyF-UNP</td>
                        <td>Cell biology</td>
                        
                      </tr>

                      <tr>
                        <th scope="row">Statistic</th>
                        <td>2017</td>
                        <td>FCEFyN-UNC</td>
                        <td>Statistic</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">Experimental Design</th>
                        <td>2017</td>
                        <td>FCEFyN-UNC</td>
                        <td>Statistic</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">Cell and molecular biology</th>
                        <td>2018</td>
                        <td>FCEFyN-UNC</td>
                        <td>Cell biology</td>
                        </tr>

                        <tr>
                            <th scope="row">B2 - English</th>
                            <td>2018</td>
                            <td>ICANA</td>
                            <td>English</td>
                        </tr>

                        <tr>
                            <th scope="row">Scientific writing in english</th>
                            <td>2018</td>
                            <td>FCEFyN-UNC</td>
                            <td>English</td>
                        </tr>

                        <tr>
                            <th scope="row">Epigenetics and non-coding RNAs in eukaryotes</th>
                            <td>2020</td>
                            <td>FCEFyN – UNC</td>
                            <td>Cell biology</td>
                        </tr>
                      <tr>
                        <th scope="row">Introduction to the R language: Linear models and programming</th>
                        <td>2020</td>
                        <td>FCEFyN – UNC</td>
                        <td>Statistic</td>
                        </tr>

                    </tbody> 
                </table>
                
                
            </div>
        </div>
    </div>

</div>

{% endblock%}