{% extends 'base/layout.html' %}
{% load static %}

{% block content%}
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-3 my-1 d-flex align-items-stretch" id = "profile_wrapper">
				<div class="card card-body border border-info">
                    <img src="{% static 'image/perfil.jpeg' %}"id = "foto_perfil"  alt="">
                    <h3> Hi! Im Alejandro</h3>
                    <hr>
                    <p>Phyton begginer Developer and Biologist with love for Science</p>
                    <ul class = "social-links">
                        <li><img src="{% static 'image/github.png' %}" alt="" class="social"></li>
                        <li><img src="{% static 'image/facebook.png' %}" alt="" class="social"></li>
                        <li><img src="{% static 'image/instagram.png' %}" alt="" class="social"></li>
                    </ul>
                    <a class="btn btn-success" href="{% static 'doc/RESUME_.pdf' %}" target="_blank" >Dowload CV</a>
                </div>
			</div>

			<div class="col-md-9 my-1 d-flex align-items-stretch" id="about_me">
				<div class="card card-body border border-info" >
                    <h4 class = "my-4">About me!</h4>
                    <hr>
                    <h5> I have two passion in my life, Science and Programming! </h5>   
                    <p> During my master and PhD in Biological Science I learned how to apply computer science principles
                        relating to data representation, programming and analysis appling
                        statistical models to detect patterns and draw inferences and
                        conclusions from data. That is why I ended learning and doing Data Science, a carrer that combine Science and computer programming! 
                        </p>
                    <h5> How I ended like a Phyton developer?</h5>
                    <p> From many year I saw python just like a lenguaje applied for Data Science...
                        but one day, I  started a course for object-oriented python programming and I discover a new world of opportunites, with Django and Python! </p>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md my-1">
				<div class="card " id="dna">
                    <img src="{% static 'image/dna.jpg' %}" id="dna-image"alt="">
                    <div class="card-body" >
                    <h5>My experience in Science!</h5>
                    <hr>
                    After the master degree, I started my PhD in Biological Science!
                    I worked with plants, studing a cellular process called Autophagy. 
                    Durign those years I learned a lot of lab techniques and also image 
                    processing with imageJ. 
                    My firsts steps on data cleanning and analysis where made with R and Python, ussing  several
                    datasets of gene expression under different stress conditions!
                    
                    </div>       			
				</div>
			</div>
        </div>
        <div class="row">
			<div class="col-md-6 my-1 d-flex align-items-stretch">
                <div class="card-group">
                    <div class="card card-body"id="common">
                        <h5>What I know and how I learned!</h5>
                        <hr>
                        <h5>Data extraction, cleanning and visualization:</h5>
                        
                        <li>Handling datasets with Tydiverse (R) and Pandas (Python). 
                            Perform Data visualization with ggplot2-ggpubr (R), Matplotlib-Seaborn (Python),
                            Tableu and Power BI. 
                            Several Machine learning techniques for data analysis
                        </li>
                        <hr class="dashed-line"> 
                        <h5>Oriented-Object Programming (OOP):</h5>
                        <li>Experience with Django, a Python web development framework using he Model View Template (MVT) architecture.</li>
                        

                    </div>
                </div>
            </div>
            <div class="col-md-6 my-1 d-flex align-items-stretch">
                <div class="card card-body"id="common">
                    <h5>My Certifications! </h5>
                    <hr>
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Career</th>
                            <th scope="col">Year</th>
                            <th scope="col">Finished?</th>
                            <th scope="col">Certificate</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Python progamming</th>
                                <td>2022-2023</td>
                                <td>In progress</td>
                                <td>-----</td>
                            </tr>

                            <tr>
                                <th scope="row">Data Science</th>
                                <td>2022-2023</td>
                                <td>In progress</td>
                                <td>-----</td>
                            </tr>


                          <tr>
                            <th scope="row">Data Analitics</th>
                            <td>2022</td>
                            <td>Yes</td>
                            <td><a href="{% static 'image/data_analitic.png' %}" class="btn btn-primary btn-sm" target="_blank">See</a></td>
                            
                          </tr>
                          
                          <tr>
                            <th scope="row">PhD. Biological Sciences</th>
                            <td>2016-2022</td>
                            <td>Yes</td>
                            <td><a href="{% static 'image/titulo_doctorado.jpg' %}" class="btn btn-primary btn-sm" target = "_blank">See</a></td>
                          </tr>

                          <tr>
                            <th scope="row">Biology</th>
                            <td>2009-2016</td>
                            <td>Yes</td>
                            <td><a href="{% static 'image/titulo_biologo.jpg' %}" class="btn btn-primary btn-sm" target = "_blank">See</a></td>
                          </tr>

                        </tbody>
                    </table>
                    <a href="{% url 'cursos' %}" class="btn btn-primary btn-sm">See others courses in cell biology, statistic, etc</a> 
                    
                </div>


            </div>
        </div>
                            
                      


		<div class="row ">
			<div class="col-md-4 my-1 d-flex align-items-stretch">
                <div class="card card-body " id = "project">
                    <h5>My Data Science projects!</h5>
                    <hr>
                    <img class = "card-img" src= "{% static 'image/datascience.jpg'  %}" alt="">
                    <a type="button" class="btn btn-primary my-4" href = "{% url 'projects_datascience' %}">Go to!</a>
                </div>

			</div>

			<div class="col-md-4 my-1 d-flex align-items-stretch">
				<div class="card card-body " id = "project">
                    <h5>My Django projects!</h5>
                    <hr>
                    <img class = "card-img " src="{% static 'image/django.png'  %}"  alt="">
                    <a type="button" class="btn btn-primary my-4"href = "{% url 'projects_django' %}">Go to!</a>
				</div>
                
			</div>

            <div class="col-md-4 my-1 ">

                <div class="card h-100 ">
                    <h5 class="m-2">Contact Me!</h5>

                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group m-3 ">
                            <label>Name</label>
                            <input required name = name type="text" placeholder= "Your name..." class="form-control" >
                        </div>

                        <div class="form-group m-3">
                            <label>E-mail</label>
                            <input required name = email type="email" placeholder= "Your email..." class="form-control">
                        </div>

                        <div class="form-group m-3">
                            <label>Message</label>
                            <input required name= message type="text" placeholder= "Your message..." class="form-control">
                        </div>

                        <button type="submit" class = "btn btn-success m-3">Send!</button>

                    </form>
                </div>
            </div>

			


		</div>
		
	</div>


</body>
{% endblock %}
</html>